@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	float: left;
	width: 20%;
	padding: 0em 1em;
}

main, aside, nav, #main-container{
	box-sizing: border-box;
}

footer {
	clear: left;
}

header {
	margin: 1em;
}

img {
	max-width: 75%;
}

main {
	float: left;
	width: 60%;
}

nav {
	float: left;
	width: 20%;
}

#copyright {
	font-size: 80%;
}

#main-container {
	max-width: 100%;
	margin: 1em;
}